.busines-seat-widget {
    position: relative;
    width: 100%;
    border:1px solid black;
}

.business-seats{

	position: relative;

	display: flex;
	flex-wrap: wrap;
	overflow: scroll;
	height: 500px;
}

.busines-seat-component{

	position: relative;
	margin: 10px;
}

.busines-seat-title{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.featured-flex{

position: relative;
display: flex;

}

.featured-flex h2{

	margin-right: 20px;
}

.mapFormContaner{



	position: relative;
	height:400px;
}
