<!doctype html>
<html lang="en">

<head>
    <!--     <script>
    if (window.location.protocol != "https:" &&

        window.location.href.indexOf('localhost') == -1)

        window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
    </script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <!--
      manifest.json provides metadata used when your web app is added to the
      homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
    -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="manifest" href="%PUBLIC_URL%/manifest.json">
    <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="//www.paypalobjects.com/api/checkout.js" async></script>


    <script src="js/utils.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>checkout.app.workchew</title>

    <style>
    html,
    body,
    .main {

        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    </style>

</head>

<body>

    <div class="main">

        <div id="paypal-button-container"></div>

    </div>

</body>


<script>
var startPaypal = function() {
    var price = 0.01
    paypal.Button.render({

        // Set your environment

        env: 'sandbox', // sandbox | production

        // Specify the style of the button

        style: {
            label: 'buynow',
            // fundingicons: true, // optional
            branding: true, // optional
            size: 'medium', // small | medium | large | responsive
            shape: 'rect', // pill | rect
            color: 'blue' // gold | blue | silve | black
        },

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create

        client: {
            sandbox: 'ARlX_FQiPMWYBBxHdmAuPnIh4lF0YChw3Ju8R6oPiFfPS7NW74VcNadMQmDuXUmOwlKO215-DIZ4rtVp',
            //production: '<insert production client id>'
        },

        // Wait for the PayPal button to be clicked

        payment: function(data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: { total: price, currency: 'USD' },
                    custom: "place access token here",
                    item_list: {
                        items: [{
                            name: "memership",
                            price: price,
                            quantity:1,
                            currency:"USD"
                        }]
                    }
                }]
            });
        },

        // Wait for the payment to be authorized by the customer

        onAuthorize: function(data, actions) {

            console.log("Payment Complete!", { data, actions })
            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
            });
        }

    }, '#paypal-button-container');

}
</script>

<script>
window.paypalCheckoutReady = function() {
    startPaypal();
};
</script>

<script>
var getPathVariables = () => {

    var [path, id] = window.location.pathname.split('/');

    return {
        path,
        id
    }

}

var getQueryParams = function() {

    var url = window.location.href;
    console.log('url', url)

    var queryString = url.substring(url.indexOf('?') + 1)

    if (url.indexOf('?') > -1) {

        var splits = queryString.split('&')

        var queryParams = splits

            .map(split => split.split('='))

            .map(([name, value]) => {

                return {

                    [name]: value
                }

            })

            .reduce((params, splitItem) => {

                return {
                    ...params,
                    ...splitItem
                }

            }, {})

        console.log('queryParams', queryParams)

        return queryParams

    }

}
</script>


</html>